@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pfp {
  text-decoration: none;
  color: Black;
  font-size: 1rem;

}

.header {
  width: 100dvw;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #fdfc47 0%, #24fe41 100%);
}

.head-style {
  justify-content: space-around;
  gap: 846px;
  display: flex;
  align-items: center;
  height: 64px;
  width: 1039px;
}

.container {
  /* height: 100dvh; */
  width: 1040px;
  margin: 0px 215px 0px 215px;
  display: flex;
  margin-top: 10px;
}

.right {
  flex: 0 0 250px;
  /* height: 680px; */
  /* width: 250px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.right::-webkit-scrollbar {
  display: none;
}

/* .profiles{
    height: 250px;
    width: 250px;
    border-radius: 20px;
    border:  1px solid var(--Lemon-Green-Stroke, rgba(126, 167, 137, 1));
} */

.card {
  /* width: 25rem; */
  height: 15rem;
  flex: 0 0 15rem;
  padding: 0.5rem;
  /* gap: 0.05rem; */
  position: relative;
}

.card.active {
  padding-bottom: 1rem;
}

.card-dropdown {
  position: absolute;
}

.card-image-wrapper {
  width: 7rem;
  height: 7em;
  transition: all 0.3s linear;
}

.card.active .card-image-wrapper {
  transform: translate(-5.4rem, -1rem);
  width: 3.5rem;
  height: 3.5rem;
}

.card-image-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card button {
  width: 100%;
  font: inherit;
  height: 3.5rem;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s linear;
}

.card button:hover,
.cancel-button:hover {
  background: black;
  color: white;
}

.card.active button {
  width: calc(100% - 4rem);
  height: 1.8rem;
  transform: translate(2rem, -7.5rem);
}

.card-dropdown {
  bottom: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
}

.card-dropdown a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card-dropdown > section {
  height: 2.7rem;
}

.card-dropdown > section:not(:last-child) {
  border-bottom: 1px solid gray;
}

.card-dropdown > section:first-child {
  padding-left: 0.6rem;
}

.cancel-button {
  border: 1px solid black;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  cursor: pointer;
}

.card-dropdown section:not(:first-child):hover {
  background: black;
  transition: all 0.35s ease-in-out;
}

.card-dropdown section:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.card-dropdown section:hover a {
  color: white;
}

.center-class {
  display: grid;
  place-items: center;
}

.border-gray {
  border: 1px solid gray;
}

.border-radius-12 {
  border-radius: 12px;
}

.border-radius-50 {
  border-radius: 50%;
}

.color-black {
  color: black;
}

.d-none {
  display: none;
}

.menu {
  /* height: 430px; */
  width: 250px;
  flex: 0 0 auto;
  border-radius: 20px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
  overflow-y: hidden;
}
.menu span {
  cursor: pointer;
}
.style {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 52px;
  width: 234px;
}

.icon-name {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 192px;
  height: 24px;
}

.error-section {
  height: 75dvh;
}

.center {
  /* height: 1378px; */
  width: 580px;
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
  gap: 20px;
}
.text-align-c {
  text-align: center;
}

.profile {
  height: 71px;
  width: 500px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-down {
  height: 370px;
  width: 500px;
  border-radius: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-cont {
  height: 230px;
  width: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-cont h1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.buttom-cont {
  height: 140px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: rgb(222, 213, 213);
  border-radius: 0px 0px 20px 20px;
}

.black-cont {
  display: flex;
  height: 30px;
  width: 450px;
  border-radius: 10px;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: space-around;
  font-size: 10px;
  font-size: 400;
  line-height: 16px;
}

.double-black {
  height: 30px;
  width: 313px;
  gap: 13px;
  display: flex;
}

.black-1 {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.black-2 {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10px;
  font-weight: 700px;
  line-height: 16px;
}

.comments > div:not(:last-child) {
  margin-bottom: 20px;
}
.heart-like img {
  display: inline-block;
}
.heart-like > *:not(:last-child) {
  margin-right: 5px;
}
.heart-like, .share {
  display: flex;
  align-items: center;
}
.cursor-p {
  cursor: pointer;
}
.top-community {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid gray;
  padding: 10px 0;
}

.post-wrapper {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-community * {
  font-weight: 500;
  font-size: 12px;
  font-family: Poppins;
}

.separator-dot {
  display: inline-block;
  transform: scale(3);
  margin: 0 4px;
}
.menu-dot {
  display: inline-block;
  font-weight: bold;
  /* transform: scale(1.4); */
}

.timestamp {
  font-family: Inter;
  color: #71717A;
}

.dynamic-comment-section {
  background: #F1FFF5;
  width: 100%;
  padding: 10px
}

.post-wrapper {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.individual-comment {
  gap: 10px;
}
.comment-info {
  width: 93%;
  gap: 10px;
}
.comment-info-logo {
  width: 30px;
}
.comment-info-logo > section {
  width: 30px;
  height: 30px;
}

.comment-info-particulars > p {
  padding-block: 1px 0;
}

.head-img { 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-direction-c {
  flex-direction: column;
}

.first-cont {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  gap: 10px;
}

.first-cont > img {
  object-fit: cover;
}

.second-cont {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comments-para {
  width: 100%;
  text-align: left;
}

.post-control-actions {
  font-family: Inter;
  font-size: 10px;
}

.image {
  /* height: 594.38px; */
  width: 470px;
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-wrapper {
  width: 100%;
  height: 330px;
  display: grid;
  gap: 0.3rem;
}
.post-info > p {
  background: #F1FFF5;
  padding: 5px;
}

.image-wrapper div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.notif {
  height: 26px;
  width: 259px;
  padding: 5px;
  gap: 5px;
  display: flex;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  background: rgba(241, 255, 245, 1);
}
.flex {
  display: flex;
}
.justify-content-sb {
  justify-content: space-between;
}
.align-items-c {
  align-items: center;
}
.post-actions > *, .share-actions > * {
  display: inline-block;
}

.post-actions * {
  margin-right: 5px;
}

.post-actions span {
  margin-right: 10px;
}

.reactions-section {
  height: 38.38px;
  padding: 0 5px;
}

.activity-feed {
  font-weight: 700;
  flex: 0 0 60px;
  position: sticky;
  background: white;
  top: 0;
  padding-top: 1px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.activity-feed span {
  border: 1px solid gray;
  font-size: 36px;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 1.75rem;
  border-radius: 12px;
  background: white;
  display: grid;
  place-items: center;
}
.reactions {
  height: 38.38px;
  width: 470px;
  display: flex;
  gap: 281px;
  /* justify-content: center; */
  align-items: center;
}

.buttom-community {
  height: 145px;
  width: 100%;
  background: #F1FFF5;
  border-radius: 0px 0px 20px 20px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.img{
    padding-left: 3rem;
}

.left {
  /* height: 1154px; */
  flex: 0 0 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.left, .right, .center {
  height: calc(100dvh - 64px - 10px);
  overflow-y: auto;
}
.clear-scroll-bar::-webkit-scrollbar {
  display: none;
}

.updates {
  flex: 0 0 400px;
  width: 250px;
  border-radius: 20px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
}

.updates-style {
  width: 250px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border-bottom: 1px solid gray;
  padding: 10px;
}

.updates-style p {
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
}

.updates-style h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.updates h1 {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
}

.button {
  align-self: center;
  width: 70px;
  height: 30px;
  margin-top: 10px;
  background: linear-gradient(90deg, #fdfc47 0%, #24fe41 100%);
  border: none;
  border-radius: 10px;
  align-items: center;
}

.community-updates {
  flex: 0 0 260px;
  width: 250px;
  border-radius: 20px;
  border: 1px solid gray;
}

.community-updates h1 {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
}

.logo-cont {
  display: flex;
  grid-area: 8px;
  justify-content: center;
  gap: 10px;
}

.gen-contents {
  border-bottom: 1px solid gray;
  padding: 10px;
}

.contents p {
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
}

.contents h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.join-communities {
  flex: 0 0 250px;
  width: 250px;
  border-radius: 20px;
  border: 1px solid gray;
}

.join-communities h1 {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
}

.profile-pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
}

.style-community {
  display: flex;
  width: 250px;
  height: 50px;
  justify-content: space-around;
}

.pic-cont {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700px;
  gap: 8px;
}

.updates-style a {
  text-decoration: none;
  color: black;
  font-family: inherit;
}